:root {
  --main-green-color: rgb(59, 185, 97);
  --main-red-color: rgb(239, 93, 80);
  --box-shadow-transparency: rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--main-green-color);
  transition: background-color 300ms ease-in-out;
  line-height: 1.5;
  color: rgb(22, 22, 22);
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

.working {
  background-color: var(--main-red-color);
}

.hidden {
  display: none;
}

.pomodoro {
  background-color: #fff;
  margin: 50px 20px;
  border-radius: 60px 5px 60px 5px;
  padding: 30px 25px;
  box-shadow: 6px 6px 4px var(--box-shadow-transparency);
}

.pomodoro h2 {
  font-size: 30px;
  letter-spacing: 0.3px;
  text-align: center;
}

.pomodoro .timer {
  font-size: 6rem;
  text-align: center;
}

.pomodoro button {
  color: var(--main-green-color);
  font-size: 25px;
  background-color: transparent;
  padding: 5px 25px;
  border-radius: 10px;
  border: 2px solid var(--main-green-color);
  cursor: pointer;
  box-shadow: 2px 2px 4px var(--box-shadow-transparency);
  transition: 250ms ease-in-out;
}

.pomodoro button:hover {
  background-color: var(--main-green-color);
  color: white;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.working .pomodoro button {
  color: var(--main-red-color);
  border: 2px solid var(--main-red-color);
}

.working .pomodoro button:hover {
  background-color: var(--main-red-color);
  color: white;
}

.details {
  margin: 20px 0;
}

.details p {
  margin-bottom: 5px;
}
